<div class="container">
  <div class="jumborton">
    <h1>Taches</h1>

    </div>

    <div class="input-group">
      <input type="text" class="for-control" placeholder="Tâche" #titreTache>
      <div class="input-group-addon" (click)="ajouterTache(titreTache)">
        <i class="fa fa-plus-circle"></i>
        </div>
        </div>

        <ul class="list-group">
          <li class="list-group-item" *ngFor="let tache of taches; let i = index">
            <span (click)="demarrerStopperTache(tache)">
              <i class="fa fa-lg" [ngClass]="tache.estDemarre ? 'fa-pause-circle-o': 'fa-play-circle-o'"></i>
              </span>
              {{tache.titre}} {{tempsDynamique(tache,i)}}
            </li>
          </ul>
        </div>
