<br>
<div class="container">
    <div>
      <h1>MENU</h1>
      <h3>Temps total : {{ tempsTotalh }}heure {{tempsTotalmin}}minute et {{ tempsTotalsec }}seconde</h3>
    </div>
    <br>

      <app-quick-tache></app-quick-tache>

    <br>
    <div class="container">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Nouveau projet" #titreProjet>

        <div class="input-group-append" (click)="ajouterProjet(titreProjet)">
            <span class="input-group-text"><i class="fa fa-plus-circle"></i></span>
        </div>
      </div>
    </div>
    <br>

    <div class="container">
      <ul class="list-group">
            <li class="list-group-item" *ngFor="let projet of projets">
              <div class="row">
                <div class="col">
                  <a routerLink="projet/{{projet.id}}">{{ projet.titre }}</a>
                </div>
                <div class="col col-lg-4">
                  <i *ngIf="projet.isNotProjetPrincipal" class="fa fa-trash col-lg-3" (click)="supprimerProjet(projet.id)"></i>
                  <i *ngIf="projet.isNotProjetPrincipal" class="fa fa-edit col-lg-3" (click)="editerTrue(projet.id)"></i>
                  <span *ngIf="projet.isEdit" class="input-group">
                    <input type="text"  class="form-control" placeholder="Nouveau titre" #titreProjetEdit>
                    <div class="input-group-append" (click)="editerProjet(projet.id,titreProjetEdit)">
                      <span class="input-group-text">
                        <i class="fa fa-check"></i>
                      </span>
                    </div>
                  </span>

                </div>
              </div>
            </li>
      </ul>
    </div>
</div>
